.square {
  width: 100px;
  height: 100px;
  margin: 1px;
  border: 5px solid transparent;
  background-color: #c5c7d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  border-left: 5px solid black;
}

.right {
  border-right: 5px solid black;
}

.up {
  border-top: 5px solid black;
}

.down {
  border-bottom: 5px solid black;
}

.noWalls {
  border: 5px solid transparent;
}

.finish {
  background-color: #016064;
}

.start {
  background-color: #1d2951;
}
