.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.maze {
  display: flex;
  flex-direction: column;
}

.leftRight {
  display: flex;
  align-items: center;
}

.upDown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
